@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Fredoka+One&family=Lilita+One&family=Tilt+Warp&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Fredoka+One&family=Lilita+One&family=Tilt+Warp&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-section {
  padding-top: 100px;
  width: 1200px;
  margin: 0 auto;
}

.section-container {
  column-gap: 123px;
}
#navbar {
  z-index: 10;
  position: fixed;
  background-color: white;
  width: 100%;
  height: 60px;
  box-shadow: 0px 1px 10px silver;
}

.text-on-section {
  font-size: 50px;
  font-weight: 700;
  line-height: 56px;
  margin-bottom: 0;
}

.right-containers-on-section {
  padding-top: 97px;
  line-height: 20px;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.bnt-zakas {
  float: right;
  border: none;
  background-color: #00ab2d;
  color: white;
  padding: 20px 40px;
  border-radius: 50px;
  font-weight: 700;
  transition: 0.3s;
}
.bnt-zakas:hover {
  background-color: #00741f;
  transition: 0.3s;
}

.right-cont-search {
  border: 2px solid #00ab2d;
  border-radius: 50px;
  padding: 4px;
  margin-top: 40px;
}

.right-cont-search input {
  border: none;
  border-radius: 50px;
  padding: 20px;
  outline: none;
}

.right-containers-on-section p {
  color: gainsboro;
  font-size: 27px;
  margin-top: 10px;
}

.left-containers-on-section img {
  width: 450px;
  height: 450px;
  border-radius: 50%;
}
.left-containers-on-section {
  padding-top: 59px;
}

/* status block */

.status_block {
  display: flex;
}

.icons__and_txt {
  width: 300px;
  height: 108px;
}

.icons_style {
  color: #00ab2d;
  font-size: 3rem;
}

.number {
  margin-top: -45px;
  margin-left: 65px;
}

.h1_style {
  font-weight: bold;
  color: #00ab2d;
}

.logo-nav {
  color: #00ab2d;
  font-size: 15px;
}

.registr-btn {
  border: none;
  padding: 5px 20px;
  border-radius: 20px;
  font-weight: 700;
  margin-right: 20px;
  background-color: #fff;
  box-shadow: 05px 5px 10px silver;
}

.phone-btn {
  padding: 10px;
  border-radius: 50%;
  background-color: #00ab2d;
  color: white;
  font-weight: 700;
}

.btn-rate {
  border: none;
  background-color: #00ab2d;
  border-radius: 20px;
  color: white;
  padding: 5px 20px;
  margin-right: 20px;
  font-weight: 700;
}

.right-container {
  float: right;
}

.margin-on-nav {
  font-family: "Courgette", cursive;
  font-size: 33px;
  font-family: sans-serif;
  font-weight: bolder;

  font-family: "Courgette", cursive;
}

.cart__img {
  width: 240px;
}

.text_paragrof {
  font-size: 1.5rem;
  font-family: sans-serif;
}

/* Как это работает */

#status-block-flex-container {
  padding-top: 80px;
  padding-bottom: 80px;
}
.cart__items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.text_paragrof {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  max-width: 262px;
  font-size: 20px;
}

.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 20px 20px 50px silver;
  padding: 40px;
}

.cart img {
  width: 200px;
  height: 200px;
}

.main_program img {
  border-radius: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.main_program {
  padding: 100px 0 80px 0;
}

.cart__title {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  margin-top: 32px;
  text-align: center;
}

.cart__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin-top: 12px;
  text-align: center;
}
#bootsrtap-conatainer {
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: 80px;
  /* align-items: flex-start;
  justify-content: center; */
}
.custom-a-info {
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-family: sans-serif;
  transition: 0.3s;
}
#abs-answers {
  width: 100%;
}
#text-answer {
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}
#text-answers {
  font-size: 32px;
  font-weight: 600;
  line-height: 39px;
}
#flex-answers-main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.button-info {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  background: none;
  width: 1200px;
  height: 80px;
}
.button-w {
  margin-left: 100px;
  margin-bottom: 20px;
}
.plus-btn {
  margin-right: 50px;
  background-color: #00ab2d;
  color: white;
  padding: 10px;
  border-radius: 50%;
}
#abs-footer {
  background-color: #151515;
  width: 100%;
}

.adres-program {
  display: flex;
  justify-content: space-evenly;
}

.adres-program i {
  font-size: 60px;
  color: gray;
}
#flex-containers-footer {
  display: flex;
  justify-content: space-evenly;
}
#course-container {
  color: white;
  margin-top: 50px;
}
#info-container {
  color: white;
  margin-top: 90px;
}
#support-container {
  color: white;
  margin-top: 90px;
}
#address-container {
  color: white;
  margin-top: 50px;
}

.footer-end-flex {
 padding: 0 30px;
}
.text-class-footer {
  transition: all 0.3s;
  color: grey;
  margin: 0;
}
.h1-class-footer {
  font-size: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
  color: gray;
}
.href-class-footer {
text-decoration: none;
    color: gray;
    font-size: 28px;
    padding-left: 10px;
}

.href-class-footer img {
  
}
#address-container > .text-class-footer {
  margin-bottom: 70px;
}
.text-class-footer:hover {
  cursor: pointer;
  color: white;
  transition: all 0.3s;
}
#footer-end-flex {
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  position: relative;
  top: 60px;
}
#text-endfooter {
  
}
.footer-images {
  margin-right: 30px;
  width: 20px;
  height: 20px;
}
.footer-images:hover {
  cursor: pointer;
  color: white;
}
.decoration {
  text-decoration: none;
  font-size: 30px;
}
#abs-info-section {
  position: absolute;
  top: 1300px;
  width: 100%;
}
#img-info-sect {
  border: 2px solid silver;
  border-radius: 20px;
  width: 600px;
  height: 550px;
}
#sect-info-flex {
  justify-content: center;
  display: flex;
}

.decoration {
  color: gray;
}

.decoration-container {
display: flex;
column-gap: 20px;}
.text-info-class {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  margin-left: 50px;
  font-size: 20px;
}
#text-info-id {
  font-size: 60px;
}

.course-container {
  margin-top: 43px;
}
