@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Fredoka+One&family=Lilita+One&family=Tilt+Warp&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#navbar {
    z-index: 10;
    position: fixed;
    background-color: white;
    width: 100%;
    height: 80px;

    
    box-shadow: 0px 1px 20px silver;
  }
  #logo-nav {
    width: 50px;
    height:45px;
    color: #00ab2d;
  }
  #nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  #left-containers {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
  }
  #right-containers {
    display: flex;
    justify-content: end;
    align-items: center;
  }


  #nav-container a {
    text-decoration: none;
  }
  .margin-on-nav {
    color: black;
  }
  #registr-btn {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 700;
    font-size: 15px;
    background: #fff;
    box-shadow: 8px 5px 13px silver;  }
  #flex-center {
    margin-top: 20px;
  }
  #btn-rate {
    margin-left: 40px;
    border: none;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 600;
    font-size: 15px;
    background-color: #00ab2d;
    color: #fff;
  }
  
  #phone-btn {
    position: relative;
    top: -40px;
    left: 370px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #00ab2d;
    color: white;
    width: 40px;
    height: 40px;
  }
  #text-logo {
    font-size: 33px;
    font-family: sans-serif;
    font-weight: bolder;
    margin-left: -200px;
    font-family: 'Courgette', cursive;

  }
  #section {
    position: relative;
    top: 200px;
  }
  #section-container {
    display: flex;
  }
  #right-containers-on-section {
    margin-left: 150px;
    margin-top: 60px;
  }
  #text-on-section {
    font-family: sans-serif;
    font-size: 65px;
    letter-spacing: 1px;
  }
  #p-on {
    margin-top: 30px;
    color: grey;
    font-family: sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
  }
  #right-cont-search {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 750px;
    height: 80px;
    background: none;
    border: #00ab2d 3px solid;
    border-radius: 40px;
  }
  
  #input-custom {
    width: 380px;
    height: 40px;
    border: none;
    outline: none;
    margin-right: -60px;
    font-size: 20px;
    color: black;
  }
  #btn-zakas {
    margin-left: 100px;
    width: 300px;
    height: 65px;
    background: #00ab2d;
    border: none;
    border-radius: 40px;
    color: white;
    font-size: 17px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 600;
  }
  #left-containers-on-section {
    width: 300px;
    height: 300px;
  }



.services a {
    text-decoration: none;
    color: black;
}


.type_services p {
    text-align: center;
    font-weight: 500;
    font-size: 12px;
  }
  
  .type_services i {
      display: flex;
      justify-content: center;
      font-size: 36px;
      padding-bottom: 15px;
      color: gainsboro;
  }

  #random_number {
    font-size: 10px;
    border-radius: 30px;
    background-color: #00ab2d;
    padding: 4px;
    height: 15px;
    color: white;
    text-align: center;
}   

.page-title h4 {
    font-size: 25px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 16px;
    text-align: left;
    padding-top: 20px;
}
.container__plus {
    max-width: 900px;
    margin: 0 auto;
}

  
  .type_services:hover p {
  color: gainsboro;
  }
  
  .services a:nth-child(3) i {
  color: #00ab2d;
  }
 

  
  
  
  .services {
      position: relative;
  
  }
  
  .block_services {
      margin: 0 auto;
      max-width: 786px;
      padding: 0;
  }

  
  .container__plus {
    padding-top: 100px;
  }
  
  .block_services {
      padding-top: 20px;
  }

  .item {
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: space-between;
  }

  .price {
    color: black;
    background-color: gainsboro;
    padding: 3px 5px 3px 5px;
    border-radius: 6px;
  }

  .title  {
    color: #00ab2d;
    background-color: bold;
    font-size: 25px;
    padding-top: 30px;
    font-family: bolder;
  }

  .page-title h1{
    font-size: 35px;
    padding-bottom: 30px;
  }

  #btn-catalog button{
    border: none ; 
    background-color: #00ab2d;
    color: white;
    text-align: center;
    padding: 5px 30px;
    border-radius: 10px;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;

  }

  .button {
    display: flex;
    justify-content:center;
  }


  /* navbar */

  /* footer */


#abs-footer {
  background-color: #151515;
  width: 100%;
}

#flex-containers-footer {
  display: flex;
  justify-content: space-evenly;
}


#course-container {
  color: white;
  margin-top: 50px;
}
#info-container {
  color: white;
  margin-top: 90px;
}
#support-container {
  color: white;
  margin-top: 90px;
}

.href-class-footer {
  padding-top: 20px;
}
#address-container {
  color: white;
  margin-top: 50px;
}

.footer-end-flex {
 padding: 0 30px;
}
.text-class-footer {
  transition: all 0.3s;
  color: grey;
  margin: 0;
}
.h1-class-footer {
  font-size: 22px;
  margin-bottom: 30px;
  margin-top: 30px;
  color: gray;
}
.href-class-footer {
text-decoration: none;
    color: gray;
    font-size: 28px;
    padding-left: 10px;
}


#address-container > .text-class-footer {
  margin-bottom: 70px;
}
.text-class-footer:hover {
  cursor: pointer;
  color: white;
  transition: all 0.3s;
}
#footer-end-flex {
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  position: relative;
  top: 60px;
}

.footer-images {
  margin-right: 30px;
  width: 20px;
  height: 20px;
}
.footer-images:hover {
  cursor: pointer;
  color: white;
}
.decoration {
  text-decoration: none;
  font-size: 30px;
}
#abs-info-section {
  position: absolute;
  top: 1300px;
  width: 100%;
}
#img-info-sect {
  border: 2px solid silver;
  border-radius: 20px;
  width: 600px;
  height: 550px;
}
#sect-info-flex {
  justify-content: center;
  display: flex;
}

.decoration {
  color: gray;
}

.decoration-container {
display: flex;
column-gap: 20px;}
.text-info-class {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  margin-left: 50px;
  font-size: 20px;
}
#text-info-id {
  font-size: 60px;
}

.course-container {
  margin-top: 43px;
}

.adres-program {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 20px ;
}

.adres-program i {
  font-size: 30px;
  color: gray;
}